<div class="container">
    <div class="jumbotron" >
        <h1>OAuth System!</h1>
        <p>This a full stack web application for Authentication System</p>
        <p><a class="btn btn-primary btn-lg" href="/auth" role="button">Try Demo</a></p>
    </div>
</div>
